.container{
    border: 1px solid black;
    height: 530px;
    padding-right: 10px;
    padding-left: 25px;
    float: right;
    /* background: #E5E5E5; */
    display: flex;
    /* flex-direction: column; */
    margin-top: 90px;
    margin-left: 160px;
    overflow-y: scroll;
}